$font-stack: 'GT-America-Compressed-Bold',arial,georgia,sans-serif;
$font-color-dark: #141e37;
$font-color-blue: #32c8ff;

$boder-caramel: #c89b3c;

$color-default-white: white;
$color-default-white-2: #f9f9f9;